<!DOCTYPE html>
<html>
<head>
    <title>{{SYS_TITLE}}</title>
    <link rel="stylesheet" type="text/css" href="/sysop/html/css/admin.css"/>
    <link rel="stylesheet" type="text/css" href="/common/css/fontawesome/css/font-awesome.min.css">
    <script language="javascript" type="text/javascript" src="/common/js/jquery-1.12.3.min.js" charset="utf-8"></script>
    <script language="javascript" type="text/javascript" src="/common/js/common.js"></script>
    <script language="javascript" type="text/javascript" src="/common/js/admin_func.js"></script>

</head>
<body>
<!--@include(BODY)-->
</body>


</html>
