<!--@include(layout/header.html)-->
<body>
	<div class="skip_nav">
		<a href="#gnb">메인메뉴로 이동</a>
		<a href="#container">본문으로 이동</a>
	</div>
	<div id="wrap">
		<!--@include(layout/top.html)-->
		<div class="sub_top sub_top2" style="background-image:url('/common/images/sub2.jpg');">
			<h1>마이페이지</h1>
			<span class="overlay-top-header"></span>
		</div>
		<div id="container">
			<div class="main_wrap">
				<p class="sub_top" ><img src="/common/images_skin2/common/sub5.jpg" alt="" /></p>
				<div class="left_area lnb05">
					<h3 class="hide">lnb영역</h3>
					<h3 class="lnb_title">마이페이지</h3>
					<ul class="lnb_list">
						<li id="mycourse"><a href="/mypage/course_list.jsp" title="수강현황" target="_self">수강현황</a></li>
<!--						<li id="certificate"><a href="/mypage/certificate_list.jsp" title="증명서발급" target="_self">증명서발급</a></li>-->
						<!--li id="cart"><a href="/order/cart_list.jsp" title="장바구니" target="_self">장바구니</a></li-->
<!--						<li id="myorder"><a href="/mypage/order_list.jsp" title="결제내역조회" target="_self">결제내역조회</a></li>-->
<!--						<li id="coupon"><a href="/mypage/coupon_list.jsp" title="쿠폰관리" target="_self">쿠폰관리</a></li>-->
						<li id="profile"><a href="/mypage/modify.jsp" title="회원정보수정" target="_self">회원정보관리</a></li>
<!--						<li id="trade"><a href="/torder/order_list.jsp" title="개별결제내역조회" target="_self">개별결제내역조회</a></li>-->
					</ul>
					<!--@include(layout/left_banner.html)-->
				</div>
				<div class="content_area">
<!--@include(BODY)-->
				</div>
				<iframe src="" name="sysfrm" id="sysfrm" width="100%" height="0" scrolling="no" frameborder="0"></iframe>
			</div>
		</div>
		<!--@include(layout/footer.html)-->
	</div>
</body>
</html>