<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>{{SYS_TITLE}}</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="/common/css/skin2.css?v=20220317" />
	<link rel="stylesheet" type="text/css" href="/html/css/custom.css" />

	<link rel="stylesheet" type="text/css" href="/common/js/select2/css/select2.css" />
	<style type="text/css">
	body, html { overflow:hidden; }
	* { font-family:"Malgn Gothic", "맑은 고딕", Arial, Dotum, "돋움"; }
	.a_tb01 { width: 100%; }
	.t_tb01 { width: 100%; }
	</style>
	<script language="javascript" type="text/javascript" src="/common/js/jquery-1.9.1.min.js"></script>
	<script language="javascript" type="text/javascript" src="/common/js/slides.min.jquery.js"></script>
	<script language="javascript" type="text/javascript" src="/common/cheditor/cheditor.js" charset="utf-8"></script>
	<script language="javascript" type="text/javascript" src="/common/js/common.js"></script>
	<script language="javascript" type="text/javascript" src="/common/js/validate.js"></script>

	<script language="javascript" type="text/javascript" src="/common/js/select2/js/select2.full.js"></script>
	<script language="javascript" type="text/javascript" src="/common/js/select2/js/i18n/ko.js"></script>
</head>

<body marginheight="0" marginwidth="0" {{SYS_BODY_STR}}>
				
<div class="pop_wrap">
	<div class="pop_title">
		<h6>{{p_title}}</h6>
	</div>
	<div class="pop_content">
<!--@include(BODY)-->
	</div>
</div>

</body>
</html>

<div id="CalendarLayer" style="display:none; width:172px; height:185px; z-index:6000">
	<iframe border="0" frameborder="0" height="185" name="CalendarFrame" scrolling="no" src="/common/js/calendar.html" width="172"></iframe>
</div>
<div style="display:none;">
<iframe name="sysfrmblank" id="sysfrmblank" frameborder="0" width="0" height="0" src=""></iframe>
</div>
<script>
$(document).ready(function() {
	calcHeight();
	try { parent.parent.calcSize(); } catch(e) {}
});
$(window).resize(function() {
	calcHeight();
});
function calcHeight() {
	$(".pop_content").css("height", eval($(".pop-frame", parent.document).height() - 75));
}
</script>