<!--@include(layout/header.html)-->
<body>
	<div class="skip_nav">
		<a href="#gnb">메인메뉴로 이동</a>
		<a href="#container">본문으로 이동</a>
	</div>
	<div id="wrap">
		<!--@include(layout/top.html)-->
		<div class="sub_top sub_top2" style="background-image:url('/common/images/sub2.jpg');">
			<h1>수강신청</h1>
			<span class="overlay-top-header"></span>
		</div>
		<div id="container">
			<div class="main_wrap">
				<div class="content_area">
<!--@include(BODY)-->
				</div>
			</div>
			<iframe src="" name="sysfrm" id="sysfrm" width="100%" height="0" scrolling="no" frameborder="0"></iframe>
		</div>
		<!--@include(layout/footer.html)-->
	</div>

</body>
</html>